{% extends 'portfolio/base.html' %}
{% block content %}

My Blogs
<h2>Mahdi has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>
{% for blog in blogs %}

<a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
<h5>{{ blog.date|date:'M d Y'|upper }}</h5>
<p>{{ blog.description|safe|truncatechars:100 }}</p>

{% endfor %}

{% endblock %}
