.navbar-nav .nav-link {
  color: rgba(0,0,0,1) ! important;
}

.navbar-nav .nav-link:hover {
  color: rgba(0,0,0,5) !important;
}

body {
  font-family: 'Lato', sans-serif;
}

#blogtitle {
  font-size: 6rem;
}

@media (min-width: 992px) {
  #hometext {
    font-size: 4rem;
  }
  #blogdetailtitle {
    font-size: 5rem;
  }

}
